@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================================================================*/
h1 {
  text-align: center;
  margin-top: 60px;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 36px;
}

.main-block {
  margin: 0px auto;
  padding-top: 70px;
  width: 394px;
  height: 374px;
  background-color: green;
  border-radius: 20%;
}

.sum {
  width: 160px;
  height: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.currency-block {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.currency-block span {
  text-align: center;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
  margin-right: 5px;
}

.summ-in-v {
  display: block;
  margin: 35px auto;
  width: 168px;
  height: 25px;
  text-align: center;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.mail {
  display: block;
  margin: 25px auto;
  text-align: center;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 20px;
}
.button span {
  text-align: center;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
}